.header {
  display: flex;
  justify-content: space-evenly;
  height: 4.6rem;
}

.header__logo img {
  height: 100%;
}

.header__icons {
  display: flex;
  align-items: center;
}

.headerSearch {
  height: 100%;
  display: flex;
  align-items: center;
  width: 570px;
}

.headerSearch .sob-form-group {
  margin-bottom: 0;
  width: 100%;
}

.headerSearch .sob-form-control {
  border-radius: 50px;
}


.header__icons .sob-btn {
  margin: 0 !important
}

.header .sob-icon-btn {
  padding: 0.6rem !important
}