.header {
  display: flex;
  justify-content: space-evenly;
  height: 4.6rem;
}

.header__logo img {
  height: 100%;
}

.header__icons {
  display: flex;
  align-items: center;
}

.headerSearch {
  height: 100%;
  display: flex;
  align-items: center;
  width: 570px;
}

.headerSearch .sob-form-group {
  margin-bottom: 0;
  width: 100%;
}

.headerSearch .sob-form-control {
  border-radius: 50px;
}


.header__icons .sob-btn {
  margin: 0 !important
}

.header .sob-icon-btn {
  padding: 0.6rem !important
}

.header2 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border-top: 2px dashed red;
}

.header2 a {
  color: red;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 14px;
}

.header2 span {
  color: red;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 48;
  font-weight: 700;
}

.header2 a.active,
.header2 a:hover {
  border-bottom: 1px solid rgba(163, 57, 57, 0.836);
  color: red;
  font-weight: bold;
}

.notif {
  position: absolute;
  top: 10px;
  right: 5px;
  background: #fafafa;
  width: 20px;
  height: 20px;
  border: 2px solid red;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}